html, 
body, 
.app{
    height: 100vh;
    background: #666;
    padding: 1em;
    font-family: 'Poppins', sans-serif !important;

}

/* Sidepanel */
.menu{
   padding-bottom: 2em; 
}

/*Messages*/

.messages{
    height: 440px;
    overflow-y: scroll;
}

/*MessageForm*/
.message__form{
    position: fixed !important;
    bottom: 1em;
    margin-left: 320px !important;
    z-index: 200;
    right: 1em;
    left: 0;
}

.message__self{
   border-left: 2px solid orange; 
   padding-left: 8px;
}

.message__image{
    padding: 1em;
}

/* Progressbar */

.progress__bar{
    margin: 0.3 0 0 0 !important;
}
